/python_selenium/
/python_selenium/locales/
/python_selenium/MEIPreload/
/python_selenium/123.0.6312.86.manifest
/python_selenium/ABOUT
/python_selenium/chrome.dll
/python_selenium/chrome.exe
/python_selenium/chrome_100_percent.pak
/python_selenium/chrome_200_percent.pak
/python_selenium/chrome_elf.dll
/python_selenium/chrome_proxy.exe
/python_selenium/chrome_pwa_launcher.exe
/python_selenium/chrome_wer.dll
/python_selenium/D3DCompiler_47.dll
/python_selenium/dxcompiler.dll
/python_selenium/dxil.dll
/python_selenium/elevation_service.exe
/python_selenium/First Run
/python_selenium/geckodriver.exe
/python_selenium/icudtl.dat
/python_selenium/lesson.py
/python_selenium/libEGL.dll
/python_selenium/libGLESv2.dll
/python_selenium/mojo_core.dll
/python_selenium/notification_helper.exe
/python_selenium/resources.pak
/python_selenium/v8_context_snapshot.bin
/python_selenium/vk_swiftshader.dll
/python_selenium/vk_swiftshader_icd.json
/python_selenium/vulkan-1.dll
/autotests_les1.py
/autotest_l.py
